<div>
    <a routerLink="/listings">
        <button>Back</button>
    </a>
    <!-- use ? after listing to tell typescript that its ok to let this listing be undefined at compile time, i was getting error NG2: Object is possibly 'undefined' -->
    <h2>{{listing?.name}}</h2>
    <p>{{listing?.description}}</p>
    <p>${{listing?.price}}</p>

    <!-- the button will load contact seller page with the proper listing id, which can be used by the contact seller page component to generate appropriate message  -->
    <a routerLink="/contact/{{listing?.id}}">
        <button>Contact Seller</button>
    </a>
</div>

